.main {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.profileSection {
  flex: 3;

  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.settingsSection {
  flex: 7;

  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;

}

.settingsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settingItem {
  font-family: 'Plus Jakarta Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applyAsMerchantButton {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 60px;

  background-color: #31925d;

  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;

  box-shadow: rgb(124, 124, 124) 0px 2px 4px;
  transition: 400ms;

  cursor:pointer;
}

.applyAsMerchantButton:hover {
  color:#31925d;
  background-color: #fff;

}



